body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  background-color: #212121;
  margin: 0;
  padding: 0;
}

/* Swiper Container */
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Each Slide */
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 320px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 8px;
}

/* Image Wrapper */
.picture {
  width: 320px;
  height: 320px;
  overflow: hidden;
}

.picture img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Card Details */
.detail {
  padding: 25px 20px;
  font-weight: 600;
  text-align: center;
}

.detail h3 {
  margin: 0;
  font-size: 20px;
}

.detail span {
  display: block;
  font-size: 16px;
  color: #f44336;
}
